@model BookDetailsViewModel

<div class="text-center" style="color:white">
    <h2 class="display-4">Book Details:</h2>
</div>
<br />
<br />
<div class="card" style="display: flex; flex-direction: row; overflow-wrap: break-word">
    <div class="card-body" >
        <h5 class="card-title"><label asp-for="Title"></label>:@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="Genre"></label>:@Model.Genre</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="Pages"></label>:@Model.Pages</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="Price"></label>:@Model.Price</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="IsOnPromotion"></label>:@Model.IsOnPromotion</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="AuthorName"></label>:@Model.AuthorName</h6>
        <div class="card" style="width: 18rem; margin-left:15px;">
            <img class="card-img-top" src=@Model.ImageLink alt="Card image cap">
        </div>
    </div>
    <div class="card" style="width: 40rem; margin-left:15px;">
        <h5 class="card-title mt-5 mb-5 ml-5">Book Content:</h5>
        <p class="card-title mt-3 mb-5 ml-5 mr-5">@Model.BookContent</p>
    </div>
</div>
<br />

