@model AuthorViewModel

<h3 style="color:white">Create new Author:</h3>

<div class="row" style="color:white">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName " class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea asp-for="Biography" class="form-control" ></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink " class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

